html {
  scroll-behavior: smooth;
}

#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  transition: top 0.3s;
  display: flex;
  flex-direction: row;
  padding: 18px 0;
  margin: 0 0;
  justify-content: space-between;
  background-color: white;

  #burger-menu {
    flex: 1;
    display: flex;
    align-self: center;
    justify-content: center;

    button {
      outline: none;
    }

    .hamburger {
      outline: none;
      display: block;
      margin-left: auto;
      margin-right: auto;
      z-index: 100;
      .hamburger-inner,
      .hamburger-inner::before,
      .hamburger-inner::after {
        background-color: black;
      }
    }
  }

  #overlay {
    position: fixed;
    background: white;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.35s, visibility 0.35s, height 0.35s;
    overflow: hidden;
    z-index: 99;
    &.open {
      opacity: 1;
      visibility: visible;
      height: 100%;

      li {
        animation: fadeInRight 0.5s ease forwards;
        animation-delay: 0.35s;

        &:nth-of-type(2) {
          animation-delay: 0.4s;
        }
        &:nth-of-type(3) {
          animation-delay: 0.45s;
        }
        &:nth-of-type(4) {
          animation-delay: 0.5s;
        }
      }
    }

    nav {
      position: relative;
      height: 70%;
      top: 50%;
      transform: translateY(-50%);
      font-size: 50px;
      font-family: "Varela Round", serif;
      font-weight: 400;
      text-align: center;
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0 auto;
      display: inline-block;
      position: relative;
      height: 100%;

      li {
        display: block;
        height: 25%;
        height: calc(100% / 4);
        min-height: 50px;
        position: relative;
        opacity: 0;

        a {
          display: block;
          position: relative;
          color: black;
          text-decoration: none;
          overflow: hidden;

          &:hover:after,
          &:focus:after,
          &:active:after {
            width: 100%;
          }

          &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 0%;
            transform: translateX(-50%);
            height: 3px;
            background: gold;
            transition: 0.35s;
          }
        }
      }
    }
  }
  @keyframes fadeInRight {
    0% {
      opacity: 0;
      left: 20%;
    }
    100% {
      opacity: 1;
      left: 0;
    }
  }

  // #logo-container {
  //   flex: 1;
  //   display: flex;
  //   justify-content: center;
  // }

  #header-logo {
    align-self: center;
    height: 120px;
    width: auto;
    cursor: pointer;
  }
  a {
    color: black;
    &:hover {
      color: black;
    }
  }
  #brand-logo {
    display: inline-block;
    align-self: center;
    font-family: "Inknut Antiqua", serif;
    font-size: 2.1rem;
    padding-top: 10px;
    span {
      font-size: 1.1rem;
    }
  }

  #order-now {
    flex: 1;
    display: flex;
    justify-content: center;
    align-self: center;

    a {
      padding: 8px 16px;
      background-color: gold;
      border: none;
      margin: 4px 12px;
      cursor: pointer;
      font-family: "Roboto Mono", monospace;
      outline: none;
      color: black;
      transition: all 0.25s ease-in-out;
      text-align: center;
      &:hover {
        text-decoration: none;
        background-color: black;
        color: white;
      }
    }
  }
}

@media (max-width: 479px) {
  #navbar {
    justify-content: space-around;
    #burger-menu {
      flex: 0;
    }
    #brand-logo {
      align-self: flex-start;
      justify-self: flex-start;
      flex: 1;
      flex-grow: 4;
      text-align: center;
    }
    #order-now {
      display: none;
    }
  }
}

// HERO SECTION
#hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#hero-slogan {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  align-self: center;

  h1 {
    font-family: "Comforter", cursive;
    color: white;
    font-size: 4rem;
    text-align: center;
  }

  #hero-button-container {
    display: flex;
    align-self: center;

    .hero-button {
      padding: 8px 16px;
      background-color: gold;
      color: black;
      border: none;
      cursor: pointer;
      font-family: "Roboto Mono", monospace;
      outline: none;
      transition: all 0.25s ease-in-out;

      &:hover {
        text-decoration: none;
        background-color: black;
        color: white;
      }
    }
  }
}

#hero-image {
  height: 99vh;
  width: 100%;
  object-fit: cover;
}

//WELCOME SECTION
#welcome-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  max-width: 90%;
  margin: 0 auto;

  #welcome-heading {
    display: inline-block;
    align-self: center;
    color: #990033;
    font-size: 4rem;
    padding-top: 48px;
    font-family: "Italianno", cursive;
  }

  #welcome-content {
    display: flex;
    flex-direction: row;

    #welcome-info-table {
      display: flex;
      flex-direction: column;
      align-self: flex-start;

      td {
        border-bottom: 1px solid burlywood;
        padding: 22px 16px;
      }

      span {
        display: inline-block;
        margin-top: 12px;
        margin-bottom: 12px;
        margin-right: 12px;
      }

      .table-heading {
        font-weight: 600;
      }

      #order-button-container {
        display: flex;
      }

      .order-button {
        display: block;
        padding: 8px 16px;
        background-color: gold;
        color: black;
        border: none;
        cursor: pointer;
        font-family: "Roboto Mono", monospace;
        outline: none;
        transition: all 0.25s ease-in-out;
        text-align: center;
        &:hover {
          text-decoration: none;
          background-color: black;
          color: white;
        }

        &:nth-child(1) {
          margin-bottom: 14px;
        }
      }

      #view-map {
        display: inline-block;
        padding: 8px 16px;
        background-color: gold;
        color: black;
        border: none;
        cursor: pointer;
        font-family: "Roboto Mono", monospace;
        outline: none;
        transition: all 0.25s ease-in-out;

        &:hover {
          text-decoration: none;
          background-color: black;
          color: white;
        }
      }
      .hours {
        display: block;
      }
    }

    #about-container {
      display: flex;
      flex-direction: column;
      flex-shrink: 4;
      margin-left: 44px;
      p {
        font-family: "Inknut Antiqua", serif;
        line-height: 220%;
      }

      #about-image {
        align-self: flex-end;
      }
    }
  }
}

@media (max-width: 960px) {
  #welcome-container {
    #welcome-content {
      flex-direction: column;

      #welcome-info-table {
        align-self: center;
      }

      #about-container {
        margin: 64px 0;

        #about-image {
          align-self: center;
        }
      }
    }
  }
}

// MENU SECION
#menu-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 44px auto;

  #menu-header {
    color: #990033;
    font-size: 4rem;
    padding-top: 48px;
    font-family: "Italianno", cursive;
  }

  #menu-card {
    display: flex;
    padding: 16px 0;
    justify-content: flex-start;

    #menu-card-category {
      display: flex;
      flex-direction: column;
      border-right: burlywood 2px solid;
      padding: 42px 34px;

      h4 {
        cursor: pointer;
        &:hover {
          color: burlywood;
        }
      }
      .active {
        display: inline-block;
        border-bottom: 2px solid burlywood;
        padding-bottom: 4px;
      }
    }

    #menu-card-items {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin-top: 22px;
      padding: 42px 34px;

      #menu-item-heading {
        display: inline-block;
        border-bottom: 2px solid burlywood;
        font-weight: 400;
        margin-top: 0;
      }

      #menu-item-title {
        color: #666633;
        padding-top: 30px;
        margin-top: 0;

        span {
          color: darkgrey;
          padding-left: 78px;
          font-size: 1rem;
          float: right;
          position: static;
        }
      }

      #menu-item-desc {
        color: darkgrey;
        margin-top: 0;
      }
    }

    #menu-card-photo {
    }
  }

  @media (max-width: 767px) {
    #menu-card {
      flex-direction: column;

      #menu-card-category {
        flex-direction: row;
        flex-wrap: wrap;
        border-right: none;
        align-items: center;
        padding: 0 0;

        h4 {
          font-size: 1rem;
          display: inline-block;
          margin: 22px 40px;
          margin-top: 0;
          border: 1px solid burlywood;
          padding: 8px;
          border-radius: 8px;
        }
      }
    }
  }
}

#gallery-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 95%;

  h1 {
    color: #990033;
    font-size: 4rem;
    padding-top: 48px;
    font-family: "Italianno", cursive;
  }

  #ig-post-container {
    display: flex;
    flex-direction: row;
  }
}

footer {
  display: flex;
  background-color: black;
  height: 350px;
  padding: 30px;
  #footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
      display: inline-block;
      color: white;
    }

    .icon-container {
      display: inline-block;
      margin: 0 20px;
    }
  }
}

.disable-scroll {
  overflow: hidden;
  height: 100%;
}

.enable-scroll {
  overflow: auto;
  height: auto;
}

// CUSTOM SCROLLBAR CSS
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb {
  height: 56px;
  border-radius: 8px;
  border: 4px solid transparent;
  background-clip: content-box;
  background-color: #888;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
